@import url(./general/normalize.css);
@import url(./general/variables.css);
@import url(./general/reset.css);
@import url(./general/font.css);

body {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    /* border: 2px solid blue; */

    padding: 1em;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.header__heading {
    /* border: 2px solid red; */
    font-size: 3.5em;
    text-align: center;
    min-width: 100vw;
}

/* ALERT */
.alert__container {
    padding: 2em;

    background-color: aliceblue;

    min-height: 50vh;
    width: 80%;
    max-width: 500px;
    
    position: absolute;
    top: 50%;   left: 50%;
    transform: translate( -50%, -50% );
    
    text-align: center;
}

.alert__content {
    /* border: 2px solid blue; */
    font-size: 2.5em;
}

.alert__username {
    color: var(--invalid);
}

.alert__seat-number {
    display: block;
    font-size: 3em;
    color: var(--invalid);
}

/*ALERT CLOSE ICON */

.icon--close::after, 
.icon--close::before {
    content: "";
    width: 1.25em;
    height: 2px;
    background: var(--invalid);
    cursor: pointer;
    position: absolute;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: 0.5s;
    /* border: 2px solid red; */
    position: absolute;
    right: 2em;    top: 2em;
}

.icon--close::before {
    transform: rotate(-45deg);
}

.icon--close:hover::before {
    /* transform: rotate(300deg); */
    box-shadow: none;
    transform: rotate(-45deg) scale(1.2);
}

.icon--close::after {
    transform: rotate(45deg);
}

.icon--close:hover::after {
    /* transform: rotate(300deg); */
    box-shadow: none;
    transform: rotate(45deg) scale(1.2);
}
/* 
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 150px;
    height: 62px;
    background-color: transparent;
    border-radius: 31px;
    font-family: Ubuntu-Bold;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    position: relative;
}

.btn:hover {
    cursor: pointer;
}

.btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 31px;
    background-color: #827ffe;
    pointer-events: none;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.btn:hover::before {
    background-color: #403866;
    width: calc(100% + 20px);
} */

/* TYPING ANIMATION */
.anim--typing {
    overflow: hidden;
    border-right: 2px solid;
    margin: 0 auto;
    width: 0px;
    animation: typing 2.5s steps(100, end) infinite alternate;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

