.hidden {
    display: none;
}

.input--normal {
    --border-color: var(--normal) !important;
    /* border-width: 2px !important; */
}

.input--invalid {
    --border-color: var(--invalid) !important;
    border-width: 2px !important;
}

.input--valid {
    --border-color: var(--valid) !important;
    border-width: 2px !important;
}
